*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
}

.luar{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    padding: 18px 0px;
    float: left;
    color: #FFFFFF;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #F58634;
}

nav ul{
    list-style: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: block;
    float: left;
    padding: 15px 0px 14px 25px;
}

nav ul li a{
    display: block;
    color: #FFFFFF;
    font-family: "Nunito Sans",Arial,Helvetica,sans-serif;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover{
    background:#d1712c;
    transition: 0.6s;
}

a.btn-hijau{
    background: #00AF91;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.background{
    position: relative;
}

.konten{
    top: 13%;
    left: 5%;
    position: absolute;
}

.pr{
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: "Nunito Sans",Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    opacity: 80%;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

.button{
    text-decoration: none;
    padding-top: 20px;
}

.button a{
    text-align: center;
    text-decoration: none;
    background-color: #00AF91;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px 13px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button a:hover{
    text-align: center;
    background-color: #F58634;
    font-size: 23px;
    transition: 0.4s;
}

section{
    display: flex;
    margin-bottom: 50px;
    padding: 0px 45px 0px 50px;
}

.kolom{
    margin-top: 70px;
    margin-bottom: 50px;
}

.kolom h2{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
}

.kolom p{
    padding-bottom: 10px;
    font-family: "Nunito Sans",Arial,Helvetica,sans-serif;
    font-size: 16px;
    text-align: justify;
}

.foto{
    margin-top: 100px;
    padding: 10px 60px 20px 80px;
}

.kolom h3{
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 11px;
}

.kolom .ikon{
    width: 18px;
    padding-right: 8px;
}

footer{
    background: #EDE4E0;
}

footer .footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    left: 40px;
}

.footer-section{
    width: 25%;
    margin: 70px auto;
    
}

footer h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #F58634;
}

footer .kontak{
    font-size: 14px;
}

footer .daftar{
    padding-bottom: 25px;
}

footer .alamat{
    font-size: 14px;
    padding-bottom: 45px;
}

#copyright{
    text-align: right;
    width: 100%;
    padding-bottom: 20px;
}